#contenido{
    font-size:large;
    font-family: new times roman;
}
div{
    background-color: #a1b5cb;;
    text-align: justify;
}

h1, h3{
    display: inline;
}
img{
    width:4%;
    height:4%;
}
.row{
    padding: 20px;
    width: 100.8%;
}