<div class="row">
    <h1>Educación</h1>
         <div class="col-lg-11">
                <ul>
                       <li id="contenido">
                        <h1><img src="../../../assets/logo sin fondo.png" alt="" class ="img-fluid" >Técnico en Informática Profesional y Personal </h1><br> <h2>Escuela Técnica "Nuestra
                            Señora de Itatí"</h2>  <h3>2013 - 2019</h3></li> 
                        <p> Manejo de herramientas Microsoft Office.<br>
                            Mantenimiento de PC<br>
                            Carga de datos en bases de datos</p>
                </ul>
                <ul>
                    <li id="contenido">
                     <h1><img src="../../../assets/Logo-universidad-nacional-del-nordeste.png" alt="" class ="img-fluid" >Licenciatura en Sistemas de Información </h1><br> <h2>Universidad Nacional del Nordeste</h2>  <h3>2020-En curso</h3></li> 
                     <p> Comprensión, lectura y codificación de lenguaje C.<br>
                        Programación orientada a Objetos (JavaScript).<br>
                        Lenguaje de programación web (Php, Html5, Css).<br>
                        Carga información en bases de datos.<br>
                        Lenguaje de programación de aplicaciones de escritorio Visual Basic.</p>
             </ul>

         </div>
</div>
