<div class="row">
    <h1>Experiencia Laboral</h1>
         <div class="col-lg-11">
                <ul>
                       <li id="contenido">
                        <h1>Practicas Profesionalizantes</h1> - <h3>2019</h3></li> 
                        <p>Prácticas Profesionalizantes en
                        Escuela Técnica "Nuestra
                        Señora de Itatí"<br>
                        Cableado y conexión de red de
                        ethernet y control y gestión de la
                        base de datos</p>
                </ul>

         </div>
</div>
