<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/PerfilPhoto.jpg" class ="img-fluid" alt="" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Alcaraz Ojeda Leandro Mauricio </p>
    <p id="Full">Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy estudiante avanzado de la Licenciatura en Sistemas de la Información,
            dictada por la Universidad Nacional del Nordeste. Estoy interesado en
            ganar experiencia en el área en la que me desempeño para incrementar
            mis conocimientos y adquirir nuevas habilidades. Me considero una
            persona responsable, ingeniosa y comprometida con mis labores, capaz
            de desempeñarme de manera individual o en grupo, y .con predisposición
            al aprendizaje contínuo.</p>
    
        
        </span>
    </div>

</div>